.idea/
.lsp/
.vscode/
.env
.venv/
venv/
pr_agent/settings/.secrets.toml
__pycache__
dist/
*.egg-info/
build/
.DS_Store
docs/.cache/
.qodo
poetry.lock
pr_agent/settings/csharp_code_context.secrets.toml
terraform/gcp/terraform.auto.tfvars
